.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }

  .conteiner-top {
    padding-top: 3rem;
  }

  .center {
    text-align: center; 
    margin-top: 20px; 
    color: black;  
  }

.espaco-sup {
  margin-top: 30px;
  color: rgb(48, 104, 11);
}

.justificado {
  text-align: justify;
}

